<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WorkerSuite">
  <test verbose="2" name="WorkerTest" preserve-order="true">
    <classes>
        <class name="cn.lixing.worker.Test.TestCase.BindCodeTesCase"/>/>
        <class name="cn.lixing.worker.Test.TestCase.RepCodeTestCase"/>
        <class name="cn.lixing.worker.Test.TestCase.DeCodeTestCase"/>
    </classes>
  </test> 
</suite> 
